<h1>ページURL→詳細ページへのURLを抽出</h1>
<ul>
	<%= @listpage.url %>
	<br>
	<h2>↑このURLから詳細ページへのリンクを表示</h2>

  <% @urls.each do |url|%>
    <p><%= "http://present.cocomo.to" + url %></p>
  <% end %>

  <h2>↑ここに出るはず</h2>
</ul>
